mixin icon(name, width, height)
    svg(width=width height=height)
        use(xlink:href="image/sprite.svg#" + name)

mixin checkRadioButton(item)
    if item.value
        input(type='radio' name=item.name id=item.id value=item.value)
        label(for=item.id class=`${item.class} ${item.class}--radio`)=item.text
    else
        input(type='checkbox' name=item.name id=item.id)
        label(for=item.id class=`${item.class} ${item.class}--check`)=item.text

mixin button(item)
    = '\n'
    a(href='http://' + item.href class=item.class + item.name target='_blank')
        = '\n'
        span= item.content
        +icon(item.name, item.width, item.height)

mixin authorName(mode)
    - var content = '© Владимир Астахов | создано с любовью в LoftSchool | 2016'
    if mode
        p(class='page-footer__author page-footer__author--' + mode)
            = '\n' + content + '\n'
    else
        p.page-footer__author=content

mixin technologies(item)
    .technologies
        h4.technologies__title= item.name
        div(class='technologies__items technologies__items--' + item.mode)
            each technology in item.technologies
                .technologies__item
                    = '\n'
                    div.technologies__name
                        = '\n'
                        span!= technology.name
                    .technologies__semicircle
                    if technology.flag
                        div(class='technologies__semicircle technologies__semicircle--less technologies__semicircle--' + technology.mode)
                    else
                        div(class='technologies__semicircle technologies__semicircle--' + technology.mode)
