mixin icon(name)
    svg: use(xlink:href="image/sprite.svg#" + name)

mixin checkRadioButton(item)
    if item.value
        input(type='radio' name=item.name id=item.id value=item.value)
        label(for=item.id class=`${item.class} ${item.class}--radio`)=item.text
    else
        input(type='checkbox' name=item.name id=item.id)
        label(for=item.id class=`${item.class} ${item.class}--check`)=item.text

mixin button(item)
    = '\n'
    a(href=item.href class=item.class + item.name)
        +icon(item.name)

mixin authorName(mode)
    - var text = '© Владимир Астахов | создано с любовью в LoftSchool | 2016'
    if mode
        p(class='page-footer__author--' + mode).page-footer__author=text
    else
        p.page-footer=text
