include ../template/variables.pug

section.what-say
    h2.title.title--big.title--say Что обо мне говорят
    .what-say__items
        each item in say
            article.what-say__item
                picture.what-say__avatar
                    source(media='(min-width:768px)' srcset=item.avatar + '.jpg')
                    img(src=item.avatar + '-phone.jpg' alt=item.name)
                blockquote.what-say__quote= item.say
                = '\n'
                cite.what-say__who-say
                    span.what-say__name= item.name
                    span.what-say__who= item.whoIs
    include contact-me.pug